.ims-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.ims-button-group .ui-button-icon-only {
    width: 2em;
    height: 2em;
}